{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true
            }
        ],
        [
            "module-resolver",
            {
                "alias": {
                    "@": ".",
                    "@src": "./src",
                    "@component": "./src/component",
                    "@pages": "./src/pages",
                    "@recoil": "./src/recoil",
                    "@common": "./src/component/common",
                }
            }
        ],
    ]
}